.DS_Store
.geminiignore
.gemini/
.build/
.zed/
.swiftpm/
.vscode/
.trash/
.models.json

todo/
node_modules/
models/*
!models/readme.md
!models/download.sh

demo/

bugs*.md
todo*.md
prompt*.md

package-lock.json
